build*
binding
*.tgz
coverage
clang-format.py
node_modules
.nyc_output
.dataset
.data
.checkpoints

**/__pycache__
.idea/.DS_Store/**
.CONDA_INSTALL_DIR

.miniconda/
Miniconda3-*.sh
downloads
tests
pybind11/src
logo.png
.*
tsconfig.json
